{% assign author = site.data.authors[post.author] %}
    <li class="related-item">
      <div class="container-fluid m-0">
        <div class="row related-list-title mb-2">
          <div class="col-12 p-0">
            <a href="{{ post.url | relative_url }}" class="related-link">{{ post.title }}</a>
          </div>
        </div>
        <div class="row related-post-meta">
          <div class="col-md-9 col-lg-8 pl-0">
            {% if author.avatar %}
            <img class="related-author-thumb" src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.full_name }}">
            {% endif %}
            <a href="{{ site.baseurl }}/author/{{post.author}}" class="related-author-name">{{ author.full_name }}</a></span> in <span class="related-categories">
            {% for cat in post.categories %}
            <a href="{{ site.baseurl }}/categories#{{ cat }}" class="related-tag">{{ cat }}</a>
            {% endfor %}</span>
          </div>
          <div class="col-md-3 col-lg-4 p-0">
            <span class="related-post-time">{{ post.date | date_to_string }} &nbsp;&#183;&nbsp;{% include read-time.html content=post.content %}</span>
          </div>
        </div>
        {% if site.related.display_except == true %}
        <div class="row">
          <div class="col-12 p-0 pt-3">
            <div class="related-excerpt">{{ post.excerpt | truncate: 160 }}</div>
          </div>
        </div>
        {% endif %}
      </div>
    </li>
